@import url(global.css);

main {
    display: grid;
}

.infos-gerais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos-gerais div{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background: whitesmoke;
}

.lucro {
    margin-left: 100px;    
}

.outro {
    margin-right: 100px;
}

.tabela-resumo {
    margin: 50px 100px;
    background: whitesmoke;
    border-collapse: collapse;
    font-size: 0.9em;
}

.tabela-resumo thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.tabela-resumo th,
.tabela-resumo td {
  padding: 12px 15px;
}

.tabela-resumo tbody tr {
    border-bottom: 1px solid #dddddd;
}

