@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #009879;
    font-size: 25px;
    color: #111111;
}

header img{
    width: 10vh;
    height: 10vh;
}

header span {
    margin-left: 80px;
}

h2 {
    text-shadow:.3rem .4rem 2px rgb(0,0,0, .4);
    font-size: 85px;
    color: white;
    text-align: center;
}

body {
    background-color: #d6e3ec;
}

.form {
    align-items: center;
    box-shadow: .3rem .4rem 2px rgb(0,0,0, .4);
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.986);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    height: 140px;
    width: 300px;
    margin-top: 7%;
    margin-left: 39%;

}

.label {
    
    display: flex;
    flex-direction: column;
    width: 200px;
}

.element  {
    outline: none;
    margin-top: 5px;
    border-radius: 12px;
   
    text-align: center;

}

label input {
    padding: 0 0.5rem;
    color: #10141b;
    border: 2px solid #10141b;
}

.btn {
    background-color: rgb(252, 29, 0);
    height: 30px;
    width: 130px;
    border-radius: 12px;
    margin-top: 25px;
    cursor: pointer;
    color: white;
    
}

.btn:hover {
    background-color: rgb(197, 30, 8);
    transition-duration: 500ms  ;
}

footer {
    margin-top: 3%;
    text-align: center;
}