#data {
    font-size: x-large;
    height: 50%;
 
    

}

body{
    font-size:xx-large;
    padding-top: 200px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#ticket { 
    padding-bottom: 20px; 
    margin-left: 500px;
    text-align: center;
    border: 3px solid;
    font-size: x-large;
    width: 350px;

}



