body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background: #d6e3ec;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #009879;
    font-size: 25px;
    color: #ffffff; 
}

header img{
    width: 9vh;
    height: 10vh;
}

section{
    display: grid;
    margin: 20px 0;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(214, 227, 236);
    border-radius: 10px;
    background: rgb(214,227,236);
    font-size: 25px;
    padding: 20px;
}

.btn{
    padding: 3px;
    font-size: 12px;
    background-color: #0e9224;
    border-radius: 12px;
    text-shadow: .3rem .4rem 2px rgb(0,0,0, 0.1);
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.valores {
    position: absolute;
	top: 700px;
    align-items: baseline;
    background: whitesmoke;
    border-collapse: separate;
    font-size: 0.9em;	
}

.tabela-resumo {
    position: fixed;
    left: 1300px; 
	top: 160px;
    align-items: baseline;
    margin: 50px 100px;
    background: whitesmoke;
    border-collapse: collapse;
    font-size: 0.9em;
}

.tabela-resumo thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.tabela-resumo th,
.tabela-resumo td {
  padding: 12px 15px;
}

.tabela-resumo tbody tr {
    border-bottom: 1px solid #dddddd;
}
table, th, td {
    border:1px solid black;
}