body{
    background-color: #CECACA;
}
.grupo{
    padding-top: 30px;
    width: 700px;
    margin: auto;
}
.grupo img{
    width: 100%;
}
.info{
    padding-top: 1px;
}
.input{
    padding-right: 40px;
}
.btn{
    padding-top: 70px;
    text-align: center;
}
.result{
    margin-top: 30px;
    border: 2px solid rgb(0,0,0);
    padding-top: 3px;
    text-align: center;
    width: 35%;
    height:150px ;
    margin-left: 32%;
}
.controle{
 background-color: rgba(229, 255, 0, 0.542);
    width: 25%;
    float: right;
    border: 1px solid rgb(0,0,0);
}
.pagos{
    border: 1px solid rgb(0,0,0);
    border-left: 0px ;
    border-right: 0px;

}
.botao{
    width: 100px;
    height: 45px;
}
.Ger{
    margin-top: 30px;
    border: 2px solid;
    width:55% ;
    height: 700px;
    margin-left: 22%;
    margin-bottom: 30px ;

}

h1{
    text-align: center;
    font-size: 190%;
}
h2{
    font-size: 120%;
    
}
h3{
    font-size: 120%;  
}
p{
    font-size: 120%;
}