* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

body{
    background: #3d3d3d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #389dff;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

header img{
    width: 10vh;
    height: 10vh;
}

header span {
    margin-left: 100px;
}

main {
    display: grid;
    margin: 20px 0;
}

.infos-gerais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos-gerais div{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background: #389dff;
    color: #ffffff;
}

.info-header {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
}

.info {
    font-size: 20px;
    margin: 20px;
}

.lucro {
    margin-left: 100px;    
}

.total {
    margin-right: 100px;
}

.tabela-resumo {
    margin: 50px 100px;
    background: #ffffff;
    border-collapse: collapse;
    font-size: 0.9em;
    color: #3d3d3d;
}

.tabela-resumo thead tr {
    background-color: #389dff;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;
}

.tabela-resumo th,
.tabela-resumo td {
  padding: 12px 15px;
}

.tabela-resumo tbody tr {
    border-bottom: 1px solid #dddddd;
}

