body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background: #3d3d3d;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #389dff;
    font-size: 20px;
    color: #ffffff; 
    margin: 0;
    padding: 0 10px;
    text-decoration: none;
    list-style: none;

}

header img{
    width: 8vh;
    height: 10vh;
}

section{
    display: grid;
    margin: 20px 0;

}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(214, 227, 236);
    border-radius: 10px;
    background: #3d3d3d;
    color: #ffffff;
    font-size: 25px;
    padding: 20px;
    margin: 20px;
}

.form {
    align-items: center;
    box-shadow: .3rem .4rem 2px rgb(0,0,0, .4);
    padding-top: 10px;
    background-color: #389dff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    height: 140px;
    width: 300px;
    margin-top: 1%;
    margin-left: 40%;
    position: fixed;

}

.label {
    
    display: flex;
    flex-direction: column;
    width: 200px;

}

.element  {
    outline: none;
    margin-top: 5px;
    border-radius: 12px;
    text-align: center;

}

label input {
    padding: 0 0.5rem;
    color: #10141b;
    border: 2px solid #3d3d3d;
    text-align: center;

}

.btn {
    background-color: rgb(14, 146, 36);
    height: 40px;
    width: 120px;
    border-radius: 12px;
    margin-top: 30px;
    cursor: pointer;
    color: white;
    
}

.btn:hover {
    background-color: rgb(14, 146, 36);
    transition-duration: 500ms ;

}

.valores {
    position: fixed;
	top: 700px;
    align-items: baseline;
    background: #389dff;
    border-collapse: separate;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    height: 200px;
    width: 360px;
    left: 100px; 
    top: 250px;
	
}

.tabela-resumo {
    position: fixed;
    left: 1000px; 
	top: 220px;
    align-items: baseline;
    background: #ffffff;
    color: #3d3d3d;
    border-collapse: collapse;
    font-size: 0.9em;
}

.tabela-resumo thead tr {
    background-color: #389dff;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0;

}

.tabela-resumo th,
.tabela-resumo td {
  padding: 12px 15px;

}

.tabela-resumo tbody tr {
    border-bottom: 1px solid #dddddd;

}

table, th, td {
    border:1px solid black;
    
}