* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

body{
    background: #3d3d3d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: #389dff;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

header img{
    width: 10vh;
    height: 10vh;
}

header span {
    margin-left: 100px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.caixa {
    margin-top: 40px;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #389dff;
    box-shadow: 5px 5px 5px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

#codigoTicket {
    border-radius: 10px;
    width: 200px;
    height: 20px;
    text-align: center;
}

.btn {
    position: relative;
    transition: all 0.5s ease;
    background-color: rgb(14, 146, 36);
    border: .2rem solid #000000;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "GilroySemiBold";
    font-size: 20px;
    padding: 13px 34px;
    color:white;
}

#mensagem-verificacao-tempo, #mensagem-verificacao-valor {
    padding: 10px;
}

#mensagem-pagamento {
    padding: 20px;
}

.tabela-tickets-nao-pagos {
    width: 500px;
    height: 500px;
    margin-top: 40px;
    align-items: baseline;
    background: #ffffff;
    color: #3d3d3d;
    border-collapse: collapse;
    font-size: 0.9em;  
}

.tabela-tickets-nao-pagos thead tr {
    background-color: #389dff;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.tabela-tickets-nao-pagos th,
.tabela-tickets-nao-pagos td {
    padding: 12px 15px;
    
}

.tabela-tickets-nao-pagos tbody {
    height: 0;
}

.tabela-tickets-nao-pagos tbody tr {
    border-bottom: 1px solid #dddddd;
}

table, th, td {
    border:1px solid black;
}
